.forca-div{
    position: relative;
    width: 70%;
    height: 400px;
    background: url("../images/forca.svg") no-repeat #16161a 10%;
    background-size: contain;
    margin: 0 auto;
    border-radius: 20px;


}

.palavras-jogo{
    position: relative;
    width: 40%;
    height: 85%;

    left: 50%;
    top: 7%;


}
.centralizar{
    position: relative;
    width: 100px;
    height: 100px;
    background: yellow;

}
.letras-entrada{
    position: relative;
    top: 40%;
    display: inline-block;

    width: 20px;
    text-align: center;
    border-bottom: 3px solid  #fffffe;
    padding: 3px;
    margin: 2px 6px;
    color: #fffffe;

}
#palavra-sorteada{

    position: relative;
    width: fit-content;
    height: 150px;

    margin: 50px auto;
    top: 25%;





}
#categoria-palavra{

    position: relative;
    width: 80%;
    height: 80px;

    margin: 10px auto;
    padding-top: 1%;
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    text-align: center;
    top: 50px;
    color: #fffffe;


}

.teclado{
    width: 75%;
    height: 250px;
    margin: 20px auto;
    right: 200px;
    display:block;
    justify-content: center;
    padding-left: 65px;

}
.alfabeto{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 60px;

    margin: 10px 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px ;

}
.botao-letra{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    background:#ff8906;
    border-width: 0;
    color:#fffffe;
    border-radius: 10px;
}
.botao-letra:hover{
    transition: 0.3s;
    transform: scale(1.1);
    border-bottom: 10px;
    border-color: red;
}
.botao-letra:focus{
    transition: botao-clicado 1.5s;
    animation: botao-clicado  .3s forwards;
}
.botao-letra:visited{

    animation:duvida 2s forwards;
    /*transform: scale(20%);*/
}

@keyframes botao-clicado {

    from {

    }
    to {
        transform: scale(-2.5);
        background: #22272c;
    }

}

.certo{
    background:#21BF73;
    color: white;
}
.errado{
    background:#E83A14;
    color: black;
}

.clicado {
    /*background: #22272c;*/
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    border-width: 0;

    border-radius: 10px;
}
